*,*::before, *::after { 
    box-sizing: border-box;
    font-family: monospace;
}

body { 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container { 
    width: 800px;
    max-width: 60%;
    background-color: rgba(146, 219, 240, 0.462);
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgb(196, 191, 191)
}


.btn-grid{ 
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    margin-top:20px;
}

.btn { 
    background-color: hsl(289, 23%, 46%);
    border: 1px solid hsl(289, 23%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    
}
.btn1 { 
    background-color: hsl(288, 32%, 56%);
    border: 1px solid hsl(289, 23%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    box-shadow: 0 0 10px 2px rgb(196, 191, 191)
    
}

.btn:hover {
   background-color: rgb(35, 108, 100);
   
}